body{
    text-align: center;
    background-color: #212121;
    color: #fff;
}
.buttons{
    height: 50px;
    width: 100px;
    border-radius: 15%;
    border: none;
}
#rockBtn{
    background-color: aqua;
}
#paperBtn{
    background-color: rgb(255, 0, 140);
}
#scissorBtn{
    background-color:fuchsia;
}