body{
    text-align: center;
    background-color:beige;
    color: black;
}
.buttons{
    margin: 20px;
}
#userwins{
    color: rgb(96, 235, 96);
}
#userloss{
    color: rgb(232, 21, 21);
}
#userdraws{
    color: rgb(19, 33, 105);
}
#result{
    color: rgb(56, 4, 47);
}